.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body, #root {
  height: 100%;
}

#profile-photo {
  max-width: 50%;
  max-height: 100%;
  height: 29%;
  width: 23%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%
}

.profile-photo-div {
  display: flex;
  justify-content: center;
}

.f9-colour {
  background: #f9f9f9;
}

div.card-body > form {
  margin-left: auto;
  margin-right: auto;
}

.note-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-footer {
  margin-top: 20px;
}
